<div id="info-toolbar" style="padding: 1px;background: #f8f8f8;text-align:right;font-size: 13px;position: relative;
    z-index: 9999999;">
        <div class="header-wrapper" style="color: black;">
		<a  id="call-info" href="#" style="text-decoration:none;color:black" >
        <span class="glyphicon glyphicon-phone" style="font-size: 17px;padding-top: 10px;"></span>
        
        <b style="margin-top:2px">Call Us +91 965 423 6634</b>
        </a>
    </div>
<nav class="navbar navbar-light bg-light" style="background-color:white !important;box-sizing: border-box !important">
    <a class="navbar-brand"><img src="https://d598e6i8i1kkq.cloudfront.net/sites/default/files/logo-new.png" alt="Currencity"></a>
    <div class="right-section">
        <a href="" class="navbar-brand">About Us</a>
        <a href="#" class="navbar-brand">Login</a>
    </div>
  </nav>